.backdrop {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  left: 0; top: 0; right: 0; bottom: 0;
  display: none;

  .certs-form {
    overflow: auto;
    position: absolute;
    left: 50px;
    top: 50px;
    bottom: 50px;
    right: 50px;
    background: white;
    padding: 25px;

    label {
      display: block;
    }
  }

  &.show {
    display: block;
  }
}

.dashboard {
  display: flex;
  flex-direction: row;
  height: 300px;

  .cert-list {
    flex: 1 1 auto;
  }
}

.file-preview {
  img {
    max-width: 150px;
    max-height: 150px;
  }
}
.uploaded-image {
  display: inline-block;
  position: relative;

  img {
    max-width: 150px;
    max-height: 150px;
  }
  button {
    opacity: 0.5;
    position: absolute;
    right: 10px;
    top: 10px;
    &:hover {
      opacity: 1.0;
    }
  }
}
