.filter-area {
  .Select {
    width: 20em;
  }
}

.backdrop {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  left: 0; top: 0; right: 0; bottom: 0;
  display: none;

  .certs-form {
    overflow: auto;
    position: absolute;
    left: 50px;
    top: 50px;
    bottom: 50px;
    right: 50px;
    background: white;
    padding: 0px;

    .wrap-section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .files-section, .inputs-section {
        padding: 1em;
      }
      .files-section {
        flex: 1 0 300px;
      }
      .inputs-section {
        flex: 0.3 0 300px;
      }
    }

    input[type="file"] {
      border: dashed 2px #9CF;
      width: 100%;
      height: 4em;
    }

    label {
      display: block;
    }
  }

  &.show {
    display: block;
  }
}

.dashboard {
  display: flex;
  flex-direction: row;
  height: 300px;

  .cert-list {
    flex: 1 1 33%;
  }
}

.file-preview {
  img {
    max-width: 150px;
    max-height: 150px;
  }
}
.uploaded-image {
  display: inline-block;
  position: relative;

  img {
    max-width: 150px;
    max-height: 150px;
  }
  button {
    opacity: 0.5;
    position: absolute;
    right: 10px;
    top: 10px;
    &:hover {
      opacity: 1.0;
    }
  }
}

.cert-list {
  ul {
    padding: 0.2em;
    margin: 0em;
    .cert-list-entry {
      list-style-type: none;
      padding: 0.3em;
      margin: 0em;

      .name-cert {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0.2em 0.4em;
        font-size: 120%;

        .employee {
          font-weight: bold;
          flex: 1 1 auto;
        }
        .certificate {
          text-align: right;
          flex: 1 1 auto;

          .files {
            font-size: 80%;
          }
        }
      }
      .dates {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0.2em 0.4em;

        .startDate {
          text-align: center;
          flex: 1 1 auto;
          &:before {
            content: "Valid from ";
            color: #888;
            font-size: 80%;
          }
        }
        .endDate {
          text-align: center;
          flex: 1 1 auto;
          &:before {
            content: " to ";
            font-size: 80%;
            color: #888;
          }
        }
      }
      .edit-button {
        flex: 0 0 none;
      }



      &:nth-child(odd) {
        background-color: #EEE;
      }
      &:nth-child(even) {
        background-color: #FFF;
      }
      &:hover {
        background-color: #ABF;
      }
    }
  }
}
